<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/static/styles.css"> <!-- Atualizado para apontar para o arquivo CSS externo -->
<link rel="stylesheet" href="/static/contato.css">
    <title>Café Gourmet - Contato</title>
</head>
<body class="common-style">
    <header>
        <button onclick="location.href='/contato'">Café Gourmet</button>
        <button onclick="location.href='/'">Cardápio</button>
    </header>

    <main class="contact-page">
        <h1>Saiba mais...</h1>
        <!-- Adicione informações de contato aqui -->
        <div class="contact-info">
            <p>Explore o Café Gourmet, criado com paixão por Araci aos 67 anos. Uma jornada pelos melhores cafés do mundo, agora disponível para você. De Araci para o mundo, cada grão conta uma história única.</p>
            <div class="info-section">
                <div class="info-label">Endereço</div>
                <div class="info-content">Rua Amélio XI, 140. Batatais - SP, Brasil.</div>
            </div>
            <div class="info-section">
                <div class="info-label">Horário de funcionamento</div>
                <div class="info-content">
                    <div><strong>Terça-feira:</strong> 09:00 às 18:00</div>
                    <div><strong>Quarta-feira:</strong> 09:00 às 18:00</div>
                    <div><strong>Quinta-feira:</strong> 09:00 às 18:00</div>
                    <div><strong>Sexta-feira:</strong> 09:00 às 18:00</div>
                    <div><strong>Sábado:</strong> 09:00 às 18:00</div>
                </div>
            </div>
            <div class="info-section">
                <div class="info-label">Contato</div>
                <div class="social-media">
                    <div><i class="fab fa-instagram"></i> cafegourmet</div>
                    <div><i class="fas fa-phone"></i> +01 29812-1231</div>
                </div>
            </div>
        </div>

        <!-- Botão do WhatsApp -->
        <a class="whatsapp-button" href="https://wa.me/16988362177">
            <i class="fab fa-whatsapp"></i> Contate-nos pelo WhatsApp
        </a>
    </main>
</body>
</html>
