<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css"> <!-- Caminho do CSS -->
    <script src="/static/javascript.js"></script> <!-- Caminho do JavaScript -->
    <title>Café Gourmet - Cardápio</title>
</head>
<body class="common-style">
    <header>
        <button onclick="location.href='/contato'">Café Gourmet</button>
        <button onclick="location.href='/'">Cardápio</button>
    </header>
    <main>
        <h1>Conheça nossos produtos</h1>
        <ul class="product-list">
            {% for produto in produtos %}
                <li class="product-item" onclick="redirectToDetails('{{ url_for('detalhes_produto', idProduto=produto.idProduto)}}')">
                    <h3>{{ produto.Produto }}</h3>
                    <p><strong>Preço:</strong> R$ {{ produto.valor }}</p>
                    <p>{{ produto.descricao }}</p>
                    <p><strong>Origem:</strong> {{ produto.nomeOrigem }}</p>
                </li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
